@inherits LayoutComponentBase
@inject SignedInStatus Auth

<div class="page">
    @if (Auth.IsSignedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
